a, a:visited {
    text-decoration: none;
    color: blue;
}
a:hover, a:visited:hover {
    color: red;
    text-decoration: underline;
}
body {
    font-size: 14px;
    font-family: Palatino, Helvetica, Arial, sans-serif;
}
#content {
    margin: 5em auto;
    max-width: 53em; min-width: 40em; width: 90%;
}
h1 {
    text-align: center;
    border-bottom: 2px solid black;
}
li {
    margin-bottom: 5px;
}
a.email {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #444;
}
.code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.block {
    margin-left: 15px;
}
#back {
    text-align: center;
}
.centered {
    text-align: center;
}


/* home page */
img#me {
    float: right;
    margin-left: 10px;
    height: 220px;
}


.paper, .talk {
    margin-top: 1em;
    display: list-item;
    list-style-type: square;
}
.title {
    font-style: italic;
    display: block;
}
.authors {
    display: block;
}
.venue {
    display: block;
}
.note {
    font-style: italic;
}
.paper a, .talk a {
    color: #00a;
}
.paper a:hover, .talk a:hover {
    color: red;
}
.equal {
    color: #c33;
}
.links {
    text-align: right;
}
