a, a:visited {
    text-decoration: none;
    color: blue;
}
a:hover, a:visited:hover {
    color: red;
    text-decoration: underline;
}
body {
    font-size: 14px;
    font-family: Palatino, Helvetica, Arial, sans-serif;
}
#content {
    margin: 5em auto;
    max-width: 43em; width: 90%;
}
h1 {
    text-align: center;
    border-bottom: 2px solid black;
}
#pronouns {
    font-weight: normal;
    font-size: medium;
}
#pronouns::before { content: "("; }
#pronouns::after { content: ")"; }
@media only screen and (max-width: 500px) {
  #pronouns {
    display: block;
  }
}
@media only screen and (min-width: 500px) {
  #pronouns {
    display: inline-block;
    width: 0px;
    overflow: visible;
    margin-left: 0.25em;
  }
}

p.info {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    line-height: 130%;
}

#intro {
    width: 100%;
    margin: 0 auto;
}
li {
    margin-bottom: 5px;
}
.eml {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #444;
    display: inline-block;
}
.bio-links > :not(:first-child) {
    margin-left: 0.4em;
}
.bio-links > :not(:last-child) {
    margin-right: 0.4em;
}
.bio-links > span, .bio-links > a {
    display: inline-block;
}
.spacer {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.block {
    margin-left: 15px;
}
#back {
    text-align: center;
}
.centered {
    text-align: center;
}

#alert {
    background-color: #ffd3d3;
    padding-left: 10px;
    padding-right: 10px;
}
#alert > p:first-of-type {
    padding-top: 10px;
}
#alert > p:last-of-type {
    padding-bottom: 10px;
}

.paper:target, .talk:target, #name-note:target {
    background-color: #ffd;
}

/* home page */
img#me {
    float: right;
    margin-left: 10px;
    height: 220px;
}


.group-members li {
    display: inline-block;
    width: 19em;
}

.paper, .talk {
    margin-top: 1em;
    display: list-item;
    list-style-type: square;
    padding: 5px;
}
.title {
    font-style: italic;
    display: block;
}
.title .meta {
    font-style: normal;
}
.authors {
    display: block;
}
.my-student, .paper .my-student a {
    color: RGB(200, 100, 0);
}
.venue {
    display: block;
}
.note {
    display: block;
    font-style: italic;
}
.paper a, .talk a {
    color: #00a;
}
.paper a:hover, .talk a:hover {
    color: red;
}
.equal {
    color: #c33;
}
.links {
    text-align: right;
}

#coauthors {
    float: right;
    border: 1px solid black;
    background: white;
    margin: 10px;
    padding: 5px;
}
#coauthors ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
#coauthors li {
    border-radius: 7px;
    text-align: center;
    padding: 2px;
    border: 1px solid #00a;
}
#coauthors li.active {
    color: white;
    background: #00a;
}
#coauthors li:not(.active) {
    color: black;
}
