<!DOCTYPE html>
<html>
<head>
  <title>Danica J. Sutherland</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css?cache_bust={{ (['style.css'] | last_edit_dt).timetuple() | map('string') | join('-') }}" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script type="text/javascript">
    authorPapers = {};

    function filterAuthors() {
      $('.paper').hide();
      var active = $('#coauthors li.active').map(function() { return $(this).data('key'); });
      if (active.length) {
        active.each(function() {
          $(authorPapers[this]).each(function() {
            $('.paper#' + this).show();
          });
        });
        $('.pub-group').show().each(function() {
          var o = $(this);
          if (o.find('.paper').filter(':visible').length == 0) {
            o.hide();
          }
        });
      } else {
        $('.pub-group').show();
        $('.paper').show();
      }
    }

    $(function() {
      // build authorPapers map
      $('.paper').each(function() {
        var obj = $(this);
        var paperKey = obj.attr('id');
        obj.find('.authors span').each(function() {
          var auth = $(this).data('coauthor');
          if (!(auth in authorPapers)) {
            authorPapers[auth] = [];
          }
          authorPapers[auth].push(paperKey);
        });
      });

      $('#coauthors-show').click(function() {
        $('#coauthors-show').hide();
        $('#coauthors-hide').show();
        $('#coauthors ul').show();
        return false;
      });
      $('#coauthors-hide').hide().click(function() {
        $('#coauthors-show').show();
        $('#coauthors-hide').hide();
        $('#coauthors ul').hide().find('li').removeClass('active');
        $('.paper').show();
        $('.pub-group').show();
        return false;
      });
      $('#coauthors ul').hide();

      $('#coauthors li').click(function() {
        $(this).toggleClass('active');
        filterAuthors();
      });
    });
  </script>
</head>
<body>
  <div id="content">
    <h1>Danica J. Sutherland<span id="pronouns"><a href="http://pronoun.is/she/:or/they/.../themself">she/they</a></span></h1>

    <!-- <img src="photo.jpg" id="me" /> -->
    <section id="intro">

    <p id="info">
      Assistant Professor, <a href="https://www.cs.ubc.ca/">UBC Computer Science</a>;
      <span class="spacer"></span>
      <a href="https://cifar.ca/ai/canada-cifar-ai-chairs/">CIFAR AI Chair</a>, <a href="https://www.amii.ca/">Amii</a>
      <br>
      <span class="eml">d&#115;uth&#91;a<span style="display: none">&nbsp;</span>t]c<span></span>s.ubc&#46;ca</span>
      <span class="spacer">or</span>
      <span class="eml">dj&#115;[a<span style="display: none">&nbsp;</span>t&#93;djsu<span></span>therland&#46;ml</span>
      <br>
      <span class="bio-links">
      <a href="cv.pdf">CV</a>
      <a href="https://orcid.org/0000-0002-1525-3532">orcid</a>
      <!-- <a href="https://keybase.io/djsutherland/key.asc">GPG</a> / <a href="https://keybase.io/djsutherland">keybase</a> -->
      <a href="https://github.com/djsutherland">github</a>
      <a href="https://stats.stackexchange.com/users/9964/danica">crossvalidated</a>
      <a href="https://twitter.com/d_j_sutherland">twitter</a>
      </span>
    </p>

    <section id="alert">
      <p>
        <b>Prospective students</b>:
        Like most North American schools, we only accept applications through <a href="https://www.cs.ubc.ca/students/grad/prospective-grads">the departmental process</a>,
        with a deadline in December.
        There is no real reason to contact me about admissions until far closer to that date.
      </p>

      <p>
        Anyone with <em>specific</em> research connections/questions/etc should of course feel free to get in touch at any time.
        Trans and gender-expansive or other queer people, also please reach out whenever, about specific things or just saying hi.
        Consider using my personal email (the djsutherland.ml one) for privacy reasons, if you prefer;
        Twitter DMs or via <a href="https://queerinai.org/">Queer in AI</a>'s Slack are also good.
      </p>
    {#
      <p>
        I am considering applications this year, but expect to take either only one or (quite likely) zero new students this time.
        You should feel free to just <a href="https://www.cs.ubc.ca/students/grad/prospective-grads">apply to the department</a> and indicate your interest in working with me in the application.
        Machine learning graduate school programs are currently <em>extremely</em> competitive, since there is very high interest relative to the number of potential advisors.
        Make sure you apply to more than one program.
      </p>
      <p>
        <a href="https://twitter.com/jbhuang0604/status/1446981455683407873?s=20">Here is a great Twitter thread</a> overviewing lots of options for getting feedback on your application materials, including ones by various departments, for different affinity groups, and also one <a href="https://let-all.com/gradsupport.html">for those interested in learning theory</a>.
        I'm involved with <a href="https://sites.google.com/view/queer-in-ai/graduate-school-application-programs">the Queer in AI program</a>, which additionally reimburses some application fees for queer students;
        there are also programs from <a href="https://blackinai.github.io/#/programs/academic-program">Black in AI</a>,
        <a href="https://www.latinxinai.org/mentee-application">LatinX in AI</a>,
        and <a href="https://deeplearningindaba.com/mentorship/mentee/">the Deep Learning Indaba</a> (for students from Africa).
        Also note that <a href="https://www.grad.ubc.ca/prospective-students/application-admission/online-application-fee">UBC waives the fee</a> for applicants from the UN's list of 50 least developed countries, including Bangladesh, Ethiopia, Nepal, and Uganda.
      </p>
    #}
    </section>

    <p>
      My current research interests include:
      <ul>
        <li>Learning and testing on sets and distributions: two-sample tests, evaluating and training implicit generative models (e.g. GANs), density estimation, distribution regression.</li>
        <li>Learning &ldquo;deep kernels,&rdquo; and representation learning more broadly.</li>
        <li>Statistical learning theory in general.</li>
      </ul>
    </p>

    <p>
      I'm also affiliated with:
      <ul>
          <li><a href="https://sites.google.com/view/queer-in-ai/">Queer in AI</a></li>
          <li>the UBC AI centre, <a href="https://caida.ubc.ca/">CAIDA</a></li>
          <li>the <a href="https://www.pims.math.ca/collaborative-research-groups/pihot">Pacific Interdisciplinary Hub on Optimal Transport (PIHOT)</a></li>
          <li>the <a href="https://deepfoundations.ai/">Collaboration on the Theoretical Foundations of Deep Learning</a> (affiliate faculty).</li>
      </ul>
    </p>

    <p>
      I was previously
      a Research Assistant Professor at <a href="http://ttic.edu">TTIC</a>,
      did a postdoc
      with <a href="http://www.gatsby.ucl.ac.uk/~gretton/">Arthur Gretton</a>
      at the <a href="http://www.gatsby.ucl.ac.uk/">Gatsby Computational Neuroscience Unit</a>, University College London,
      and I did my Ph.D. at Carnegie Mellon University
      with <a href="https://cs.cmu.edu/~schneide/">Jeff Schneider</a>.
    </p>

    <p><a href="#pubs">Publications</a> and selected <a href="#talks">talks</a> are listed below.</p>

    <p id="name-note">
      I previously published under a different name, and not all papers are corrected yet, though <a href="https://tesstanenbaum.medium.com/towards-a-trans-inclusive-publishing-landscape-893339b9868d">they should be</a>. If you're citing my papers (please do!), please use the name "Danica J. Sutherland".
      Note that Google Scholar's bib entries <a href="https://scholar.hasfailed.us">often deadname me (and most trans people)</a>, even on papers whose official versions have been updated; please correct them if you must use them (or use the more accurate bib entries <a href="biblio.bib">from here</a>).
    </p>

    </section>

    <section id="group">
    <h3>Group</h3>
    <ul id="group-members">
      <li><a href="https://won-bae.github.io/">Wonho Bae</a></li>
      <li><a href="https://namratadeka.github.io/">Namrata Deka</a></li>
      <li>Milad Jalali</li>
      <li><a href="https://mohamad-amin.github.io/">Mohamad Amin Mohamadi</a></li>
      <li><a href="https://joshua-ren.github.io/">Yi (Joshua) Ren</a></li>
      <li><a href="https://sites.google.com/view/hamedshirzad/home">Hamed Shirzad</a></li>
    </ul>
    </section>

    <section id="courses">
    <h3>Courses</h3>
    <ul>
        <li>CPSC 340 Machine Learning and Data Mining: <a href="https://github.com/UBC-CS/cpsc340-2021w1">2021-22 W1</a> (with Mike Gelbart)</li>
        <li>CPSC 532S Modern Statistical Learning Theory: <a href="https://www.cs.ubc.ca/~dsuth/532S/22/">2021-22 W2</a></li>
    </ul>
    </section>

    <section id="pubs-sec">
    <h3 id="pubs">Publications</h3>
    <p>
      Below, <span class="equal">**</span> denotes equal contribution.
      Also available as <a href="biblio.bib">a .bib file</a>,
      and most of these are on
      <a href="https://www.semanticscholar.org/author/Danica-J.-Sutherland/36326783">Semantic Scholar</a>.
      If you must (but <a href="https://scholar.hasfailed.us">I'd rather you didn't</a>),
      here's <a href="https://scholar.google.com/citations?user=uO_NqicAAAAJ">Google Scholar</a>.
    </p>

    <div id="coauthors">
      Coauthor filters:
      <a href="#" id="coauthors-show">(show)</a>
      <a href="#" id="coauthors-hide">(hide)</a>
      <ul>
      {% for key, coauthor, count in coauthor_count_sorted if key != "me" and count > 1 %}
        <li id="coauthor-{{ key }}" data-key="{{ key }}">
          {{ coauthor | full_name }} (<span class="count">{{ count }}</span>)
        </li>
      {% endfor %}
      </ul>
    </div>

    {% set sections = [
      ["Preprints", ["preprint"]],
      ["Journal and Low-Acceptance-Rate Conference Papers", ["conference", "journal"]],
      ["Dissertations", ["phd-thesis", "ba-thesis"]],
      ["Technical Reports, Posters, etc.", ["tech-report", "poster", "workshop", "course-project"]],
    ] %}
    {% for sec_name, sec_types in sections %}
      {%- if venue_type_map[sec_types]|length > 0 -%}
        <section class="pub-group">
          <h4>{{ sec_name }}</h4>
          {% for paper in venue_type_map[sec_types] %}
            <div class="paper" id="{{ paper.key }}" data-topics='{{ paper.get('topics', []) | tojson }}'>
              <span class="title">{{ paper.title | maybe_punc(".") }}</span>
              <span class="authors">
                {%- if paper.committee -%}
                  {%- set authors = paper.committee -%}
                  Committee:
                {% else -%}
                  {%- set authors = paper.authors -%}
                {%- endif -%}
                {%- for author in authors -%}
                  {%- set auth = author | get_author(coauthors, year=paper.year) -%}
                  <span {% if not paper.committee %}data-coauthor="{{ auth.key }}"{% endif %}>
                    {{- auth | full_name | maybe_link(auth.web) -}}
                    {%- if auth.is_equal %}<span class="equal">**</span>{%- endif -%}
                  </span>
                  {%- if loop.last -%}
                    .
                  {%- elif loop.length == 2 -%}
                    {%- if loop.first %} and {% endif -%}
                  {%- else -%}
                    {%- if loop.last -%}
                      .
                    {%- elif loop.revindex == 2 -%}
                      , and
                    {% else -%}
                      ,
                    {% endif %}
                  {%- endif -%}
                {%- endfor -%}
              </span>

              {% if paper.venue %}
                {%- set venue = venues[paper.venue] -%}
                {%- set href = venue|venue_url(paper.year) -%}
                <span class="venue">
                  {%- if venue.short -%}
                    {{ venue.name }}
                    ({{ venue.short | maybe_link(href) }})
                  {%- else -%}
                    {{ venue.name | maybe_link(href) }}
                  {%- endif -%}
                  {%- if venue.conference -%}
                    {%- set conf = venues[venue.conference] -%}
                    {%- set conf_href = conf|venue_url(venue.year) -%}
                    , {{ conf.short|default(conf.name)|maybe_link(conf_href) }}
                  {%- elif venue.type == "phd-thesis" -%}
                    . Ph.D. thesis,
                  {%- elif venue.type == "ba-thesis" -%}
                    . B.A. thesis,
                  {% endif %}
                  {{
                    [paper.volume, paper.number, paper.pages] | reject("falsey") | join(", ") | maybe_wrap("", ".")
                  }}
                  {{ paper.year }}.
                </span>
              {% endif %}

              {% if paper.web_note %}
                <span class="note">{{ paper.web_note }}</span>
              {% elif paper.note %}
                <span class="note">{{ paper.note }}</span>
              {% endif %}

              <div class="links">
                {% if paper.official %}<span class="info">[<a href="{{ paper.official }}">official</a>]</span>{% endif %}
                {% if paper.doi %}<span class="info">[<a href="https://dx.doi.org/{{ paper.doi }}">doi</a>]</span>{% endif %}
                {% if paper.arXiv %}<span class="info">[<a href="https://arxiv.org/abs/{{ paper.arXiv }}">arXiv</a>]</span>{% endif %}
                {% if paper.related %}
                  {% for name, link in paper.related.items() %}
                    <span class="info">[<a href="{{ link }}">{{ name }}</a>]</span>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </section>
      {% endif %}
    {% endfor %}
    </section>

    <div style="clear: both;"></div>
    <section id="talks-sec">
    <h3 id="talks">Invited talks</h3>
    <p>Slides for conference and workshop talks directly for a paper are linked next to the paper above.</p>
    {% for talk in talks %}
      <div class="talk" id="talk-{{ talk.key }}">
        {{ talk.title | maybe_punc(".") | maybe_wrap("<span class='title'>", "</span>") }}
        <span class="venue">
          {{ "{:%B %Y}".format(talk.date) }}.
          {%  set venue = venues[talk.venue] -%}
          {%- set href = venue|venue_url("{:%Y}".format(talk.date)) -%}
          {%- if venue.short -%}
            {{ venue.name }}
            ({{ venue.short | maybe_link(href) }})
          {%- else -%}
            {{ venue.name | maybe_link(href) }}
          {%- endif -%}
          {%- if venue.conference -%}
            {%- set conf = venues[venue.conference] -%}
            {%- set conf_href = conf|venue_url(venue.year) -%}
            , {{ conf.short|default(conf.name)|maybe_link(conf_href) }}
          {%- endif -%}
          .
        </span>
        {% if talk.papers %}
        <span class="note">
          Related papers:
          {% if talk.papers | length == 1 %}
            <a href="#{{ talk.papers[0] }}">{{ talk.papers[0] | get_paper(papers) | paper_short_venue(venues) }}</a>.
          {% else %}
            {% for paper in talk.papers -%}
              <a href="#{{ paper }}">{{ paper | get_paper(papers) | paper_short_venue(venues) }}</a>
              {%- if not loop.last %}, {% endif -%}
            {%- endfor %}.
          {% endif %}
        </span>
        {% endif %}

        {% if talk.web_note %}
          <span class="note">{{ talk.web_note }}</span>
        {% elif talk.note %}
          <span class="note">{{ talk.note }}</span>
        {% endif %}

        <div class="links">
          {{ talk.video | maybe_wrap("<span class='info'>[<a href='", "'>video</a>]</span>") }}
          {{ talk.slides | maybe_wrap("<span class='info'>[<a href='", "'>slides</a>]</span>") }}
          {% if talk.related %}
            {% for name, link in talk.related.items() %}
              <span class="info">[<a href="{{ link }}">{{ name }}</a>]</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </section>

  </div>
</body>
</html>
